<div class="container">
  <div class="row">
    <div class="justify-center">
      <div class="col-xs-12 col-sm-offset-2 col-sm-4">
        <img src="http://res.cloudinary.com/drfvlo6ah/image/upload/v1526421142/photo_ale.jpg" alt="">
        <p class='image-footer'> Alessandra Lima</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p class='fine-font'>
        "Não há nada mais encantador do que trabalhar com o que é perfeito por natureza.
        Reger uma orquestra de beleza e perfeição me desafia, me move, me faz vibrar."
        Alessandra Lima"</p>

        <p class='solid-font'>Parte da nova geração em design floral, Alessandra acredita nas flores como a mais delicada forma de expressão. Por isso optou por suas cores, perfumes e harmonia como ofício. Elabora arranjos com respeito e envolvimento com a vida: equilibra a beleza como uma reverência à Natureza.  </p>

        <p class='solid-font'>Sua filosofia sustentável vai desde a escolha de seus parceiros até a composição de arranjos em água, dispensando a espuma floral. Sua técnica permite a criação em uma base fluida que leva à melhor nutrição
        das flores e folhagens - um desafio que se tornou uma
        paixão na vida da florista.</p>
      </div>
    </div>
  </div>
</div>
